pkgbase = slimcoin
	pkgdesc = Slimcoin client.
	pkgver = 0.6.4
	pkgrel = 6
	url = slimcoin.club
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = gcc
	makedepends = make
	makedepends = qrencode
	makedepends = boost
	makedepends = miniupnpc
	makedepends = openssl
	makedepends = qt5-base
	depends = boost-libs
	depends = openssl
	depends = miniupnpc
	depends = qt5-base
	replaces = slimcoin-daemon
	replaces = slimcoin-qt
	replaces = slimcoind
	source = https://minkiz.co/noodlings/slm/slimcoin.tar.gz
	source = slimcoin-qt.desktop
	source = slimcoin-qt@.service
	source = slimcoin-qt-tor@.service
	source = slimcoind@.service
	source = slimcoind-tor@.service
	sha256sums = 27955d4b96c50923058481b6a5069ca7f14729cd3550005dbf3e4711aa4e9338
	sha256sums = 44209ffeb522c7a69b1160cea59611a38706ea8438d1a9a40bb7f1ce9ea87b0b
	sha256sums = 7e90361dc25fd59bc4d1b85f255c2bd4c450b59d820d748bb3d0acc11d0d600c
	sha256sums = 5b98ffab21bc76f03fd3547b6441dbbddd73f1fc65940a4d4c2401c304b7221c
	sha256sums = 80dcdf2bf3540a3ddd3c2cd1299aa97db06bf1efdadee4ad847e3371658dd62f
	sha256sums = 3a40552151feb7d5043c9c996560e4db321cc3fa9a716ed3dfb6fa25d843b09a

pkgname = slimcoin-qt
	pkgdesc = Implementation of Slimcoin Qt wallet.
	install = slimcoin.install
	depends = qt5-base
	depends = miniupnpc
	depends = boost-libs
	depends = qrencode
	depends = miniupnpc

pkgname = slimcoind
	pkgdesc = Implementation of Slimcoin daemon.
	install = slimcoin.install
	depends = boost-libs
	depends = miniupnpc

